@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  background: lightblue;
  font-family: 'Ubuntu', sans-serif;
}
#containerBox {
  height: 500px;
  width: 700px;
  margin: 5% auto;
  border: 1px solid black;
  background: white;
  box-shadow: 10px 10px 5px grey;
}

h1, h3 {
  text-align: center;
}

table {
  margin-top: 5%;
  text-align: center;
  padding: 4% 2%;
  width: 60%;
}
td {
  padding: 4% 2%;
}

#playMode {
  display: none;
}

.gameBoard {
  border-collapse: collapse;
  border: 2px solid gray;
  height: 180px;
  width: 210px;
  margin: 5% auto;
}

.gameBoard td{
  width: 60px;
  height: 60px;
  border: 3px solid gray;
  font-size: 30px;
}

.gameButton {
  border: solid 1px gray;
  background: white;
  color: gray;
  margin: 3% 0;
  font-weight: bold;
  border-radius: 20px;
  padding: 10px 40px;
}

.gameButton:hover {
  border: solid 1px white;
  background: gray;
  color: white;
}

.userEntry {
  background: lightgray;
  color: blue;
}

.computerEntry {
  background: lightgray;
  color: red;
}

p {
  font-size: 25px;
  margin: 0;
  font-weight: 900;
}

.winningPair {
  background: black;
  color: white;
}